@font-face {
  font-family: 'Steamy';
  src: url('../assets/fonts/Steamy.otf') format('opentype');
}
@font-face {
  font-family: 'Lutsk Sity';
  src: url('../assets/fonts/Lutsk-type-14-12-17.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}